@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLTELayout/AdminLTELayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Departments</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Departments</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Modal -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="ClearScreen()">
                            Tambah Data
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" >
                            <div class="modal-dialog">  
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Departments Data</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal();">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="Id" placeholder="Id Department" required hidden>
                                            </div>
                                            <div class="form-group">
                                                <label for="Name">Name</label>
                                                <input type="text" class="form-control" id="Name" placeholder="Nama Department" required>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                        <div class="card-footer">
                                            @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="Save" onclick="Save()">Insert</button>
                                            <button type="submit" class="btn btn-warning" id="Edit" onclick="Edit()">Edit</button>*@
                                            <button type="button" class="btn btn-success" data-dismiss="modal" id="SaveBtn" onclick="Save();">Add</button> 
                                            <button type="button" class="btn btn-warning" data-dismiss="modal" id="UpdateBtn" onclick="Update();" >Edit</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal();">Close</button>

                                        </div>
                                    </form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- / .Modal -->


                        <!-- Tabel -->
                        <table id="TB_Department" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>   
                            </thead>
                        </table>
                        <!-- / .Table -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</section>
<!-- /.content -->
@section script{
    @*<script>
        $(function () {
            $("#TB_Department").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        });
    </script>*@

    <script src="~/js/DepartmentJS.js"></script>
}

